@model IList<WeatherForecast>
@{
    ViewData["Title"] = "Forecast";
}

<h2>Forecast</h2>
@{ 
    string degree;
}

<table class="table table-bordered">
    <tbody>
        @foreach (var forecast in Model)
        {
            if (forecast.FiveDayForecastValue == 1)
            {
                <tr>
                    <td>
                        <h3>Today</h3>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <img src="~/img/weather/@(forecast.Forecast).png" alt="An image of a @forecast.Forecast emoticon" />
                    <p>High: @forecast.High</p>
                    <p>Low: @forecast.Low</p>

                    @if (forecast.Forecast == "snow")
                    {
                        <p>Don't forget to pack snow shoes!</p>
                    }

                    @if (forecast.Forecast == "rain")
                    {
                        <p>Don't forget to pack raingear and wear waterproof shoes!</p>
                    }

                    @if (forecast.Forecast == "thunderstorms")
                    {
                        <p>Seek shelter and avoid hiking on exposed ridges!</p>
                    }

                    @if (forecast.Forecast == "sunny")
                    {
                        <p>Don't forget to pack sun block!</p>
                    }

                    @if (forecast.High > 75)
                    {
                        <p>Bring an extra gallon of water!</p>
                    }

                    @if (forecast.High - forecast.Low > 20)
                    {
                        <p>Wear breathable clothes!</p>
                    }

                    @if (forecast.Low < 20) 
                    {
                        <p>Beware of the dangers associated with exposure to frigid temperatures!</p>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

