@model IList<SurveyPark>
@{
    ViewData["Title"] = "SurveyResults";
}

<h1 class="heading">Most Favorited National Parks</h1>

<table class="table table-bordered">
    <tbody>
        @foreach (var surveypark in Model)
        {
            <tr>
                <td>
                    <a asp-controller="home" asp-action="detail" asp-route-parkcode="@surveypark.Park.ParkCode">
                        <img src="~/img/parks/@(surveypark.Park.ParkCode).jpg" alt="An image of @surveypark.Park.ParkName" />
                    </a>
                </td>
                <td>
                    <h2 id="survey-results">@surveypark.Park.ParkName</h2>
                    <h2 id="favorite">Favorited by @surveypark.Count vistor(s)</h2>
                </td>
            </tr>
        }
    </tbody>
</table>